@import "tailwindcss";

:root {
  --background: #e9e7e7;
  --foreground: #171717;  ;  /* Tailwind text */
  --primary: #1e8a8a ;
  --accent: #1e8a8a ; 
  --card: #FFFFFF;
  --border: #E0E7FF;
  --hover: #0e5757; 
  --bg_white: #FFFFFF;
  --danger: #d60101;
  --hover_danger: #fd3d3d;
   /* Tailwind red-400 color */



}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #e9e7e7; /* same as light mode */
    --foreground: #171717;
  }
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  font-family: 'Inter', sans-serif;


}
